@using LMS.Core.Entities
@model LMS.Core.Entities.Course

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Lägg till en kurs</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
<div class="row">
        <form asp-action="Create" id="CreateForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@TempData["NewCourseName"]" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@TempData["NewCourseDescription"]" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" value="@TempData["NewCourseStartDate"]" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control" value="@TempData["NewCourseEndDate"]" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            </div>
        </form>
    </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
    <input type="submit" form="CreateForm" value="Lägg till" class="btn btn-primary" />
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
