html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.sectioncolors {
    background-color: #2E0289;
    color: white;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.pagecolors {
    background-color: rgb(193, 193, 193, 0.7);
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.main {
    margin-top: 180px;
    overflow: hidden;
    /*overflow-y: scroll;*/
}

a.whitenav:link, a.whitenav:visited {
    color: white;
    text-decoration: none;
}

a.whitenav:hover, a.whitenav:active {
    color: rgb(193, 193, 193, 0.7);
    text-decoration: none;
}

a.blacknav:link, a.blacknav:visited {
    color: black;
    text-decoration: none;
}

a.blacknav:hover, a.blacknav:active {
    color: #2E0289;
    text-decoration: none;
}

.logoimg {
    height: 50px;
}
.courseimg {
    width: 100%;
    height: 160px;
}
.whitetext {
    color: white;
}

.close {
    background-color: #2E0289 !important;
    color: white;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #2E0289 !important;
    border: hidden;
}
.btn-primary:hover {
    background-color: #1f015c !important;
    border: hidden;
}
.smalltext12 {
    font-size: 12px;
}
.rounded-xl {
    border-radius: 1.5rem;
}
.largetext20 {
    font-size: 16px;
}
.navpurple {
    color: #2E0289 !important;
}
.aligncenter {
    text-align: center;
}
div.right {
    text-align: right;
}
.table tr {
    cursor: pointer;
}
tr.collapsed .icon-arrow-down {
    display: none;
}
tr:not(.collapsed) .icon-arrow-up {
    display: none;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    color: #2E0289; 
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
