<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LMS.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row justify-content-center bg-white">
        <a class="navbar-brand m-3 blacknav" asp-area="" asp-controller="Courses" asp-action="Index"><img src="~/images/Logo-LMS.jpg" class="img logoimg" alt="Logo" /></a></div>
            <div class="row justify-content-center">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 sectioncolors">          
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link whitenav" asp-area="" asp-controller="Courses" asp-action="Index">Kurser</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link whitenav" asp-area="" asp-controller="MyAccount" asp-action="Index">Mitt konto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link whitenav" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                        </li>
                   </ul>
                   <partial class="whitetext" name="_LoginPartial" />
                </div>             
        </nav>
        </div>
        </div>   
    </header>
    
    <div class="container-fluid main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Ett popup fönster för partial views-->
    <div class="modal fade" id="modalPartial" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="ModalContent">
                <div class="modal-body" id="ModalBody">
                </div>
            </div>
        </div>
    </div>

   
    <footer class="sectioncolors">
            <div class="container-fluid">
                <div class="row mt-1 pb-2">
            <table class="mt-3"><tr>
                <td class="text-start"> Project: LMS system</td>
                <td class="text-start">NET22B Group 1</td>
                <td class="text-end">&copy; 2022 </td>   
            </tr>            
            </table>
                </div>
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
