@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">
    <li class="nav-item">

            <a class="nav-link whitenav form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Courses", new { area = "" })">Logga ut</a>

    </li>
    </ul>
}
else
{
@*    <li class="nav-item">
        <a class="nav-link whitenav" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link whitenav" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </li>
    </ul>
}

